.layout {
    padding: 20px;
    background: #f9fafb;
  }
  
  /* HEADER */
  .topbar {
    display: flex;
    h2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        span{
            color: #636363;
        }
    }
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .topbar input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  /* STATS */
  .stats {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .card {
    flex: 1;
    background: white;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
  }
  
  .card.pending { border-left: 4px solid orange; }
  .card.approved { border-left: 4px solid green; }
  .card.rejected { border-left: 4px solid red; }
  
  /* ACTIONS */
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .create-btn {
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
  }
  
  /* TABLE */
  .table-container {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #eee;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    padding: 12px;
    background: #f1f5f9;
  }
  
  td {
    padding: 12px;
    border-bottom: 1px solid #eee;
  }
  
  .right {
    text-align: right;
  }
  
  .destination small {
    display: block;
    color: #777;
    font-size: 12px;
  }
  
  /* BADGES */
  .badge {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
  }
  
  .pending {
    background: #fff7ed;
    color: orange;
  }
  
  .approved {
    background: #ecfdf5;
    color: green;
  }
  
  .rejected {
    background: #fef2f2;
    color: red;
  }
  
  /* BUTTONS */
  button {
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #f1f5f9;
  }
  
  button.danger {
    color: red;
  }
  /* ✅ Sidebar FIXED */
app-employee {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background: #000; // your sidebar color
  }
  .layout {
    margin-left: 280px;   /* SAME as sidebar width */
    padding: 20px;
    background: #f9fafb;
    min-height: 100vh;
  }