<div class="container mt-5"></div>
  <div class="card p-4 shadow">

    <h2 class="text-center mb-4">Register</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- Name -->
      <label class="form-label">Name</label>
      <input type="text" class="form-control mb-2" formControlName="name" placeholder="Name">
      <small *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
        Name is required
      </small>

      <!-- Employee ID -->
      <br><label class="form-label mt-2">Employee ID</label>
      <input type="number" class="form-control mb-2" formControlName="employeeId" placeholder="Employee ID">
      <small *ngIf="registerForm.get('employeeId')?.touched && registerForm.get('employeeId')?.invalid">
        Employee ID is required
      </small>

       <!-- Manager ID -->
       <br><label class="form-label mt-2">Manager ID</label>
       <input type="number" class="form-control mb-2" formControlName="managerId" placeholder="ManagerID">
       <small *ngIf="registerForm.get('managerId')?.touched && registerForm.get('managerId')?.invalid">
         Manager ID is required
       </small>

       <!-- Department -->
       <br><label class="form-label mt-2">Department</label>
       <input type="text" class="form-control mb-2" formControlName="department" placeholder="Department">
       <small *ngIf="registerForm.get('department')?.touched && registerForm.get('department')?.invalid">
         Department is required
       </small>

      <!-- City -->
      <br><label class="form-label mt-2">City</label>
      <input type="text" class="form-control mb-2" formControlName="city" placeholder="City">
      <small *ngIf="registerForm.get('city')?.touched && registerForm.get('city')?.invalid">
        City is required
      </small>

      <!-- State -->
      <br><label class="form-label mt-2">State</label>
      <input type="text" class="form-control mb-2" formControlName="state" placeholder="State">
      <small *ngIf="registerForm.get('state')?.touched && registerForm.get('state')?.invalid">
        State is required
      </small>

      <!-- Country -->
      <br><label class="form-label mt-2">Country</label>
      <input type="text" class="form-control mb-2" formControlName="country" placeholder="Country">
      <small *ngIf="registerForm.get('country')?.touched && registerForm.get('country')?.invalid">
        Country is required
      </small>

      <!-- Email -->
      <br><label class="form-label mt-2">Email</label>
      <input type="email" class="form-control mb-2" formControlName="email" placeholder="Email">

      <small *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">
        Email is required
      </small>
      <small *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']">
        Invalid email format
      </small>

      <!-- Password -->
      <br><label class="form-label mt-2">Password</label>
      <input type="password" class="form-control mb-2" formControlName="password" placeholder="Password">

      <small *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">
        Password is required
      </small>
      <small *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength']">
        Minimum 6 characters required
      </small>

      <!-- Confirm Password -->
      <br><label class="form-label mt-2">Confirm Password</label>
      <input type="password" class="form-control mb-2" formControlName="confirmPassword" placeholder="Confirm Password">

      <small *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors?.['required']">
        Confirm password is required
      </small>

      <!-- Password Match Error -->
      <small *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched">
        Passwords do not match
      </small>

      <br>

      <button type="submit" class="btn btn-success w-100" [disabled]="registerForm.invalid">
        Register
      </button>

    </form>

  </div>
