<div class="sidebar p-3">

    <!-- Logo -->
   <!-- Logo -->
    <div class="logo mb-4">
      <span class="tms"><b>TMS</b></span>
    </div>
  
    <!-- Menu -->
    <ul class="menu list-unstyled">
  
      <li>
        <button class="menu-btn" (click)="navigateToFinanceDashboard()">Finance Dashboard</button>
      </li>
  
      <li>
        <button class="menu-btn" (click)="navigateToShowRequests()">Show Requests</button>
      </li>

      <li>
        <button class="menu-btn" (click)="navigateToDecisionHistory()">Decision History</button>
      </li>
  
      <li>
        <button class="menu-btn" (click)="navigateToShowAccountabilities()">Show Accountabilities</button>
      </li>
  
      <li class="divider"></li>
  
      <li>
        <button class="menu-btn" (click)="navigateToProfile()">Profile</button>
      </li>
  
      <li>
        <button class="menu-btn logout" (click)="logout()"> Logout </button>
      </li>
      
  
    </ul>
  
  </div>